<div class="slider stick-dots">
    <div class="slide">
        <div class="slide__img">
            <img src="" alt="" data-lazy="./assets/images/nature_01.jpg" class="full-image animated"
                data-animation-in="zoomInImage" />
        </div>
        <div class="slide__content">
            <div class="slide__content--headings">
                <h2 class="animated" data-animation-in="fadeInUp">Slide me to the moon</h2>
                <p class="animated" data-animation-in="fadeInUp" data-delay-in="0.3">With awesome animations</p>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slide__img">
            <img src="" alt="" data-lazy="./assets/images/nature_02.jpg" class="full-image animated"
                data-animation-in="zoomInImage" />
        </div>
        <div class="slide__content">
            <div class="slide__content--headings">
                <h2 class="animated" data-animation-in="fadeInRight">Slide me to the moon</h2>
                <p class="animated" data-animation-in="fadeInRight" data-delay-in="0.2">With awesome animations</p>
            </div>
        </div>
    </div>
</div>


<div class="page-title">
    <h1>Услуги по озонированию в санкт-петербурге</h1>
</div>

<div class="accordion-container">
    <div class="accordion-container__inner">
        <button class="accordion">Преимуществао исп</button>
        <div class="panel">
            <p>Преимуществао использования озона зключается в его
                относительно безвредном воздействиии на окружающую
                среду и массе полезных действий, например, таких как
                читоеый обеззораженый кислород, лишенный болезнет
                творных бактерий и вирусов.
            </p>
        </div>
    </div>

    <div class="accordion-container__inner">
        <button class="accordion">Свойства озона</button>
        <div class="panel">
            <p>Преимуществао использования озона зключается в его
                относительно безвредном воздействиии на окружающую
                среду и массе полезных действий, например, таких как
                читоеый обеззораженый кислород, лишенный болезнет
                творных бактерий и вирусов.
            </p>
            <p>Преимуществао использования озона зключается в его
                относительно безвредном воздействиии на окружающую
                среду и массе полезных действий, например, таких как
                читоеый обеззораженый кислород, лишенный болезнет
                творных бактерий и вирусов.
            </p>
            <p>Преимуществао использования озона зключается в его
                относительно безвредном воздействиии на окружающую
                среду и массе полезных действий, например, таких как
                читоеый обеззораженый кислород, лишенный болезнет
                творных бактерий и вирусов.
            </p>
            <p>Преимуществао использования озона зключается в его
                относительно безвредном воздействиии на окружающую
                среду и массе полезных действий, например, таких как
                читоеый обеззораженый кислород, лишенный болезнет
                творных бактерий и вирусов.
            </p>
            <p>Преимуществао использования озона зключается в его
                относительно безвредном воздействиии на окружающую
                среду и массе полезных действий, например, таких как
                читоеый обеззораженый кислород, лишенный болезнет
                творных бактерий и вирусов.
            </p>
        </div>
    </div>
</div>

<div class="roots">
    <p>Все права защищены</p>
</div>

<div class="footer-margin"></div>